body {
    color: white;
    background-color: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: 2px solid rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

.chamada {
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

div {
    margin-right: 20px;
}

img {
    height: 200px;
}

.chamada-texto {
    margin-right: 5%;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid rgba(82, 24, 190, 0.877);
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria h2 {
    color: rgb(42, 122, 228);
}

